<div class="top-bar">
  <div class="top-bar-left">
    <ul class="title-area">
      <li><%= image_tag 'map-marker-icon.png', class: "logo" %></li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="#/index.html">Home</a></li>
    </ul>
  </div>
</div>

  <section class="first-section">
    <article>
      <div class="search-container">
        <%= form_tag("/coordinates", method: "get") do %>
          <div class="row">
            <div class="medium-12 columns">
              <label>
                  <%= text_field_tag :address, nil, placeholder: "City, Airport or specific address" %>
              </label>
            </div>
            <div class="medium-6 columns">
              <label><h6>From</h6>
                <%= date_field(:event,:start_date) %>
              </label>
            </div>
            <div class="medium-6 columns">
              <label><h6>To</h6>
                <%= date_field(:event,:end_date) %>
              </label>
            </div>
          </div>
          <%= submit_tag "Search", class: "success button" %>
        <% end %>
      </div>
    </article>
  </section>