<%= render 'layouts/altnav' %>

<div class="row search-section">
  <h4>
    <%= @rcount %> events near <%= @address %> with events between <%= @checkin %> and <%= @checkout %>
  </h4>
</div>

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit data-use-m-u-i="false">
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <% @results.each_slice(3) do |slice| %>
      <% if slice.length == 3 %>
        <li class="orbit-slide">
          <div class="row venues-row">
            <% slice.each do |e| %>
              <div id="venue">
                <div class="row data">
                  <div class="large-4 columns">
                    <%= image_tag e[:eventProfilePicture], style: "width: 100%;" %>
                  </div>
                  <div class="large-8 columns">
                    <h6><%= e[:eventName].first(40) %></h6>
                    <small><%= e[:eventStarttime].to_datetime.strftime('%c') %></small>
                  </div>
                </div>
                <div class="text-center">
                  <a href="https://facebook.com/events/<%= e[:eventId] %>" class="button" target="_blank">See on Facebook</a>
                </div>
              </div>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="orbit-slide">
          <div class="row venues-row">
            <% slice.each do |e| %>
              <div id="venue">
                <div class="row data">
                  <div class="large-4 columns">
                    <%= image_tag e[:eventProfilePicture], style: "width: 100%;" %>
                  </div>
                  <div class="large-8 columns">
                    <h6><%= e[:eventName].first(40) %></h6>
                    <small><%= e[:eventStarttime].to_datetime.strftime('%c') %></small>
                  </div>
                </div>
                <div class="text-center">
                  <a href="https://facebook.com/events/<%= e[:eventId] %>" class="button" target="_blank">See on Facebook</a>
                </div>
              </div>
            <% end %>
            <% @r_modulo.times do %>
              <div class="large-4 columns" id="venue">
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

<div class="row map-section">
  <div class="small-12 large-12 columns">
    <div id="map_canvas" style='width: 100%; height: 75vh;'>
    </div>
  </div>
</div>

<script>
  mapStyle = [
      {
          "featureType": "all",
          "elementType": "labels",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [
              {
                  "saturation": "-4"
              },
              {
                  "lightness": "-55"
              },
              {
                  "gamma": "3.29"
              },
              {
                  "weight": "0.34"
              },
              {
                  "visibility": "on"
              }
          ]
      },
      {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "administrative",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "off"
              },
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "administrative.locality",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "visibility": "on"
              }
          ]
      },
      {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "landscape.man_made",
          "elementType": "geometry",
          "stylers": [
              {
                  "saturation": "-58"
              },
              {
                  "visibility": "on"
              },
              {
                  "lightness": "21"
              },
              {
                  "gamma": "0.93"
              }
          ]
      },
      {
          "featureType": "landscape.natural.terrain",
          "elementType": "geometry",
          "stylers": [
              {
                  "saturation": "15"
              },
              {
                  "gamma": "3.03"
              }
          ]
      },
      {
          "featureType": "landscape.natural.terrain",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "saturation": "25"
              }
          ]
      },
      {
          "featureType": "poi",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "poi.attraction",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "poi.business",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "poi.government",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#dfdcd5"
              }
          ]
      },
      {
          "featureType": "poi.medical",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#dfdcd5"
              }
          ]
      },
      {
          "featureType": "poi.park",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#bad294"
              }
          ]
      },
      {
          "featureType": "poi.place_of_worship",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "poi.school",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "poi.sports_complex",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#efebe2"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#ffffff"
              }
          ]
      },
      {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#ffffff"
              }
          ]
      },
      {
          "featureType": "road.arterial",
          "elementType": "geometry.stroke",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "road.local",
          "elementType": "geometry.fill",
          "stylers": [
              {
                  "color": "#fbfbfb"
              }
          ]
      },
      {
          "featureType": "road.local",
          "elementType": "geometry.stroke",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "transit",
          "elementType": "all",
          "stylers": [
              {
                  "visibility": "off"
              }
          ]
      },
      {
          "featureType": "water",
          "elementType": "all",
          "stylers": [
              {
                  "color": "#a5d7e0"
              }
          ]
      }
  ];

  handler = Gmaps.build('Google');
  handler.buildMap({ internal: {id: 'map_canvas' }, provider: {styles: mapStyle}}, function(){
    markers = handler.addMarkers([
      {
        lat: <%= raw @latitude %>,
        lng: <%= raw @longitude %>,
        picture: {
          url: "http://maps.google.com/mapfiles/ms/icons/green-dot.png",
          width:  32,
          height: 32
        },
        infowindow: "hello!"
      },
      <% @results.each do |r| %>
        {
          lat: <%= raw r[:eventLat] %>,
          lng: <%= raw r[:eventLong] %>,
          picture: {
            url: "http://maps.google.com/mapfiles/ms/icons/blue-dot.png",
            width: 32,
            height: 32
          },
          infowindow: "<%= raw r[:venueName] %>"
        },
      <% end %>
    ]);

    handler.map.centerOn(markers[0]);
    handler.getMap().setZoom(12);
  });
</script>
