@import url("https://fonts.googleapis.com/css?family=Roboto");

h1, h2, h3, h4, h5, h6, a, ul, ol, li{
  font-family: 'Roboto', sans-serif;
}

body{
  background: #fbf3e6;
}

/* TOP BAR */
.top-bar {
  height: 8.5vh;
  background: #FE525E;
  color: #151537;
}

.top-bar a{
  color: #151537;
  background: #FE525E;
}

.top-bar-left li{
  list-style-type: none;
  color: #151537;
  background: #FE525E;
    padding-left: none;
  &:first-child{
    padding-left: 5em;
  }
}

img.logo{
  height: 2.6em;
}

.top-bar-left a:hover {
  color: #fbf3e6;
}

.top-bar-left .button{
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  background-color: #fe525e;
  color: white;
}

.top-bar-right .menu{
  background: #FE525E;
  padding-right: 8em;
}

.top-bar-right li a{
  color: white;
  background: #FE525E;
  font-weight: normal;
}
.top-bar-right li a:hover{
  color: white;
}

/* FIRST SECTION */
.first-section{
  background-image: asset-url("back.jpg");
  background-attachment: fixed;
  padding: 175px 0;
  margin-bottom: 30px;
  background-repeat: repeat;
  height: 81.5vh;
  margin: 0 auto;
  width: 100%;
  position: relative;
}

.first-section .search-container{
  background: rgba(21, 21, 55, 0.5);
  margin-top: -3em;
  margin-left: 10.5em;
  margin-right: 10.5em;
  padding-top: 1em;
}

.search-container h6{
  font-weight: bold;
  color: #fbf3e6;
}

.search-container .button.success{
  background-color: #FE525E;
  color: #fbf3e6;
  font-family: 'Roboto', sans-serif;
  position: relative;
  margin-left: 46.5%;
}

/* FOOTER */
.footer {
  background: #272727;
  border-top: 5px solid #FE525E;
  height: 10vh;
}

.footer .info-1 {
  padding-left: 4em;
  margin-top: 0.75em;
}

.search-section{
  padding: 1.25em 0 0 6em;
}

.venues-row{
  background: #fbf3e6;
  padding: 20px 0;
}

.orbit-previous, .orbit-next{
  opacity: 1;
  background: rgba(0,0,0,0.2);
}

.map-section{
 padding: 20px 0;
}

#venue{
  background: white;
  height: 155px;
  margin-right: 1.33%;
  width: 32%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.08);
  > .row.data{
  }
  padding: 5px;
  float: left;
}

