<div class="top-bar">
  <div class="top-bar-left">

    <%= form_tag("/coordinates", method: "get") do %>
    <ul class="menu">
      <li><%= image_tag 'map-marker-icon.png', class: "logo" %></li>
        <li><%= text_field_tag :address, nil, placeholder: "City, Airport or specific address" %></li>
        <li><%= date_field(:event,:start_date) %></li>
        <li><%= date_field(:event,:end_date) %></li>
        <li><%= submit_tag "Search", class: "button" %></li>
      </ul>
    <% end %>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><%= link_to 'Home' ,root_path%></li>
    </ul>
  </div>
</div>
