<footer class="footer">
  <div class="row">
    <div class="small-6 large-6 columns left">
      <div class="info-1">
          <img class="hidden-for-small-only" src="http://forthebadge.com/images/badges/built-with-ruby.svg" />
          &nbsp;
          <img class="hidden-for-small-only" src="http://forthebadge.com/images/badges/no-ragrets.svg" />
      </div>
    </div>
  </div>
</footer>
