
<!--
<div class="row search-section">
  <h4><%= @venue_count %> venues near <%= @address %> with events between <%= @checkin %> and <%= @checkout %></h4>
</div>

<div class="orbit" role="region" aria-label="Favorite Space Pictures" data-orbit>
  <ul class="orbit-container">
    <button class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</button>
    <button class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</button>
    <% @venues.each_slice(6) do |slice| %>
      <% if slice.length == 6 %>
        <li class="orbit-slide">
          <div class="row venues-row">
            <% slice.each do |v| %>
              <div class="large-2 columns" id="venue">
                <%= image_tag v[:venueProfilePicture], style: "width: 100%;" %>
                <p class="text-center"><%= v[:venueName] %>&nbsp;<span class="badge"><%= v[:eventCount]%></span></p>
              </div>
            <% end %>
          </div>
        </li>
      <% else %>
        <li class="orbit-slide">
          <div class="row venues-row">
            <% slice.each do |v| %>
              <div class="large-2 columns" id="venue">
                <%= image_tag v[:venueProfilePicture], style: "width: 100%;" %>
                <p class="text-center"><%= v[:venueName] %>&nbsp;<span class="badge"><%= v[:eventCount]%></span></p>
              </div>
            <% end %>
            <% @vc_modulo.times do %>
              <div class="large-2 columns" id="venue">
            <% end %>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>

-->